.ranking_Card   {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #00175D;
    border-radius: 10px;
    height: auto;
    width: 80%;
}

.ranking_position   {
    width: 60px;
    height: 60px;
    background-color: #fdfdfd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking_position_number    {
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
    color: #00175D;
}

.ranking_name   {
     font-family: "Press Start 2P", system-ui;
    font-size: 15px;
    color: #fdfdfd;
    text-align: end;
    width: 70%;
}