.form_input {
    width: 274px;
    height: 60px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #fdfdfd;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    color: #222222;
}

@media screen and (min-width: 922px) {
    .form_input {
        width: 294px;
        height: 80px;
        font-size: 30px;
    }
}